data/
dist/
docs/
node_modules/
LICENSE
README.md

# Ignore version control files:
.git/
.gitignore

# Ignore docker and environment files:
**/*Dockerfile
docker-compose.yml
**/*.env
.dockerignore

# Ignore log files:
log/*.log

# Ignore OS artifacts:
**/.DS_Store

# Ignore nuxt.js files:
.nuxt
